In [1]:
from bs4 import BeautifulSoup
import requests
import lxml
import pandas as pd

In [2]:
url='https://www.worldometers.info/world-population/'

In [3]:
page =requests.get(url)

In [4]:
page

In [5]:
soup=BeautifulSoup(page.text,'lxml')

In [59]:
table = soup.find('table',class_='table table-striped table-bordered table-hover table-condensed table-list')

In [60]:
header = table.find_all('th')

In [86]:
Table_Heading =[]
for i in header :
    head = i.text
    Table_Heading.append(head)

In [87]:
df=pd.DataFrame(columns=[header])

In [75]:
table_row= table.find_all('tr')

In [76]:
x=table.find_all('tr')[1].text

In [77]:
x=x.strip()

In [78]:
x

'2020 7,794,798,739 1.05 % 81,330,639 30.9 2.47 52'

In [79]:
x=x.split(' ')

In [89]:
row=[]
for i in table.find_all('tr')[1:]:
    row_data =i.find_all('td')
    row=[tr.text for tr in row_data]
    length=len(df)
    df.loc[length]=row

In [90]:
df

,"[Year, [], (July 1) ]",[Population],"[Yearly % , [], Change]","[Yearly, [], Change]","[Median , [], Age]","[Fertility , [], Rate]","[Density , [], (P/Km²)]"
0,2020,"7,794,798,739",1.05 %,"81,330,639",30.9,2.47,52
1,2019,"7,713,468,100",1.08 %,"82,377,060",29.8,2.51,52
2,2018,"7,631,091,040",1.10 %,"83,232,115",29.8,2.51,51
3,2017,"7,547,858,925",1.12 %,"83,836,876",29.8,2.51,51
4,2016,"7,464,022,049",1.14 %,"84,224,910",29.8,2.51,50
5,2015,"7,379,797,139",1.19 %,"84,594,707",30,2.52,50
6,2010,"6,956,823,603",1.24 %,"82,983,315",28,2.58,47
7,2005,"6,541,907,027",1.26 %,"79,682,641",27,2.65,44
8,2000,"6,143,493,823",1.35 %,"79,856,169",26,2.78,41
9,1995,"5,744,212,979",1.52 %,"83,396,384",25,3.01,39
10,1990,"5,327,231,061",1.81 %,"91,261,864",24,3.44,36
11,1985,"4,870,921,740",1.79 %,"82,583,645",23,3.59,33
12,1980,"4,458,003,514",1.79 %,"75,704,582",23,3.86,30
13,1975,"4,079,480,606",1.97 %,"75,808,712",22,4.47,27
14,1970,"3,700,437,046",2.07 %,"72,170,690",22,4.93,25
15,1965,"3,339,583,597",1.93 %,"60,926,770",22,5.02,22
16,1960,"3,034,949,748",1.82 %,"52,385,962",23,4.90,20
17,1955,"2,773,019,936",1.80 %,"47,317,757",23,4.97,19

In [83]:
import os
os.chdir('C:/Users/asus/OneDrive/Desktop/UDEMY_DATA_SCRAPING_CHRISTOPHER_ZITA')

In [84]:
df.to_csv('Web Scraping.csv')